<ion-content class="lightGray">
  
  <div class="header-action-icon text-left">
    <ion-icon side="start" name="arrow-undo" (click)="goBack()"></ion-icon>  
  </div>

  <div class="main-container plr15 pb30">
    <div>
      <h3 class="text-center main-heading">Link a Retail Account</h3>
    </div>
 
    <div class="RLogoSec mt20">
      <ion-row>
        <ion-col size="6">
           <div id="amazon_logo"  class="RLogoBlock mb15">
              <a href=""><img src="../assets/images/amazonIcon.png"></a>
           </div>
        </ion-col>
        <ion-col size="6">
          <div id="walmart_logo"  class="RLogoBlock mb15">
            <a href=""><img src="../assets/images/walmartIcon.png"></a>
         </div>
        </ion-col> 
      </ion-row>
      <ion-row>
        <ion-col size="6">
           <div id="wyfair_logo"  class="RLogoBlock mb15">
              <a href=""><img src="../assets/images/wayfairIcon.png"></a>
           </div>
        </ion-col>
        <ion-col size="6">
          <div id="overstock_logo" class="RLogoBlock mb15">
            <a href=""><img src="../assets/images/overstockIcon.png"></a>
         </div>
        </ion-col> 
      </ion-row>
      <ion-row>
        <ion-col size="6">
           <div id="target_logo" class="RLogoBlock">
              <a href=""><img src="../assets/images/targetIcon.png"></a>
           </div>
        </ion-col>
        <ion-col size="6">
          <div id="Etsy_logo"  class="RLogoBlock">
            <a href=""><img src="../assets/images/etsyIcon.png"></a>
         </div>
        </ion-col> 
      </ion-row>
    </div>
  </div>
</ion-content>
