<ion-content class="lightGray">
  
  <div class="header-action-icon text-left">
    <ion-icon side="start" name="arrow-undo" ></ion-icon>  
  </div>

  <div class="main-container plr15 pb30">
    <div>
      <h3 class="text-center main-heading">Login to EasyTrack</h3>
    </div>

    <div class="graphicBlock mt15">
      <img src="../assets/images/Log-In.svg">
    </div> 

  <form class="mt10" #form="ngForm" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)"> 
      <div>
        <ion-input name="email" type="email" placeholder="Email" class="form-control" formControlName="email"  required></ion-input>
      </div>
      <div>
        <ion-input name="password" type="password" placeholder="Password" class="form-control"  formControlName="password" required></ion-input>
      </div> 
      <div class="btnBlock mt20">
        <ion-button    type="submit" [disabled]="form.invalid" expand="block" fill="solid" class="submitBtn">Submit</ion-button>
      </div>  

    <div id="registerLink" class=" text-center mt15">
      <a href="#" class="user-links" [routerLink]="['/register']">Not registered? Click Here</a><br>
      <a href="#" class="user-links">Forgot Password?</a>
    </div> 
  </form> 
</div>
</ion-content><ion-footer class="ion-no-border"><ion-toolbar><app-footer></app-footer></ion-toolbar></ion-footer>
