<ion-content class="lightGray">
  <br><br> 
  <div class="main-container plr15 pb30">
    <div>
      <h3 class="text-center main-heading">Account Created.</h3>
    </div>

    <div class="graphicBlock mt50">
      <img src="../assets/images/acCreatedEmlConfirm.svg">

      <p class="GraphicInfo text-center mt50">An email containing a registration link has been sent to you, 
        please check on that link to complete account registration.</p>
    </div> 

    

    <div class="PASIcon mt15 text-center">
      <a href="#"><ion-icon name="checkmark-circle-outline"></ion-icon></a>
    </div> 
</div>
</ion-content><ion-footer class="ion-no-border"><ion-toolbar><app-footer></app-footer></ion-toolbar></ion-footer>