<ion-header [translucent]="true"> 
    <div class="statusBar">
      <div class="bottom-shadow3"> </div>
      <div class="bottom-shadow4"> </div>
    </div> 
    <div class="header-action-icon text-right">
        <div class="logout_icon" [routerLink]="['/logout']" routerDirection="backward"><img src="../assets/images/logout_icon.svg"></div> 
    </div>
  </ion-header>

<ion-content class="lightGray"> 
    <div class="main-container">
        <div class="profile-section text-center">
            <div class="profile-area">
                <ion-icon name="person"></ion-icon>
            </div>
            <div class="profileD text-center">
                <h3 class="main-heading">Welcome</h3>
                <a href="#" class="user-links">USER EMAIL HERE</a>
            </div>

            <div class="user-info-buttons">
                <button class="WShadowBtn mb15 text-left" [routerLink]="['/retail-account']" routerDirection="backward">Linked Retail
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>

                <button class="WShadowBtn mb15 text-left" [routerLink]="['/link-email-ac']" routerDirection="backward">Linked Email
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>

                <button class="WShadowBtn mb15 text-left" [routerLink]="['/notifications']" routerDirection="backward">Notifications
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>

                <button class="WShadowBtn mb15 text-left" [routerLink]="['/cus-home']" routerDirection="backward">Customize Homepage
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>

                <div class="mb15">
                    <ion-row>
                        <ion-col size="6">
                            <button class="WShadowBtn text-center info_circle_icon" [routerLink]="['/aboutus']" routerDirection="backward"> 
                                <img src="../assets/images/info_circle_icon.svg">
                            </button>
                        </ion-col>
                        <ion-col size="6">
                            <button class="WShadowBtn text-center question_circle_icon" [routerLink]="['/have-question']" routerDirection="backward"> 
                                <img src="../assets/images/question_circle_icon.svg">
                            </button>
                        </ion-col>
                    </ion-row>
                </div>

            </div>
        </div>



    </div>
</ion-content><ion-footer class="ion-no-border"><ion-toolbar><app-footer></app-footer></ion-toolbar>
    <div class="bottom-shadow"> </div>
    <div class="bottom-shadow2"> </div>
</ion-footer>