<ion-content class="lightGray">
  <br><br> 
  <div class="main-container plr15 pb30">
    <div>
      <h3 class="text-center main-heading">Logged In.</h3>
    </div>

    <div class="graphicBlock mt50 graphicLength">
      <img src="../assets/images/loggedconfirm.svg">
    </div> 

    <div class="PASIcon mt50 text-center">
      <a href="#"><ion-icon name="checkmark-circle-outline"></ion-icon></a>
    </div> 
</div>
</ion-content><ion-footer class="ion-no-border"><ion-toolbar><app-footer></app-footer></ion-toolbar></ion-footer>