// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;



  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-align-items:left !important;
  --ion-justify-content:left !important;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e; 
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

body, h1, h2, h3, h4, h5, h6, p, div, *, *:before, *:after{font-family: Arial, Helvetica, sans-serif;}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Light"),
      url(../assets/fonts/light.woff2) format("woff2"),
      url(../assets/fonts/light.woff) format("woff"),
      url(../assets/fonts/light.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semilight"),
      url(../assets/fonts/semilight.woff2) format("woff2"),
      url(../assets/fonts/semilight.woff) format("woff"),
      url(../assets/fonts/semilight.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(../assets/fonts/normal.woff2) format("woff2"),
      url(../assets/fonts/normal.woff) format("woff"),
      url(../assets/fonts/normal.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Bold"),
      url(../assets/fonts/bold.woff2) format("woff2"),
      url(../assets/fonts/bold.woff) format("woff"),
      url(../assets/fonts/bold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semibold"),
      url(../assets/fonts/semibold.woff2) format("woff2"),
      url(../assets/fonts/semibold.woff) format("woff"),
      url(../assets/fonts/semibold.ttf) format("truetype");
  font-weight: 700;
}

.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}

.fleft{float:left;}
.fRight{float:right;}

.mt0{margin-top:0px !important;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px;} 
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt75{margin-top:75px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}
.mt110{margin-top:110px;}

.mb0{margin-bottom:0px !important;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px !important;}
.mb17{margin-bottom:17px;}

.mmlr15{margin-left:-15px; margin-right:-15px}

.p15{padding:15px !important;}
.pb30{padding-bottom: 30px !important;}
.plr10{padding-left:10px; padding-right:10px;}
.plr12{padding-left:12px; padding-right:12px;}
.plr15{padding-left:15px; padding-right:15px;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px !important;}
.pt12{padding-top:12px !important;}
.pt65{padding-top:65px;}

.top0{top:0px !important;}

.lightGray{background:#f8f7f9; --background :#f8f7f9;}
.main-heading{color:#452092; font-weight:bold; font-size:22px;}
.main-title{color: #452092; margin:4px 0 0 0; font-size:13px;}

.statusBar{
  height:32px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main-container{
  padding: 15px 15px 30px 15px; 
}

.pageSdwStart{
  background: transparent;
  top: 32px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: none;
  border-top: 1px solid rgba(64, 121, 140, 0.08);
  position: absolute;
  left: 0;
  right: 0;
  height: 21px;
  z-index: 2;
}

.pageSdwStart_Bck{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 10px;
  background: #fff;
  z-index:1;

  &:after{    content: "";
    position: absolute;
    left: 0px;
    width: 15px;
    height: 15px;
    bottom: -7px;
    background: #fff;
    border-radius: 0px 0px 29px 0;}
  &:before{    content: "";
    position: absolute;
    right: 0px;
    width: 15px;
    height: 15px;
    bottom: -7px;
    background: #fff;
    border-radius: 0px 0px 0px 29px;}
}

.pageSdwEnd{
  background: transparent;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0 4px 7px -4px rgba(64, 121, 140, 0.5); 
  position: absolute;
  top:-30px;
  left: 0;
  right: 0;
  height: 21px;
  z-index: 2;
}

.pageSdwEnd_Bck{
    position: absolute;
    top:-9px;
    left: 0;
    right: 0;
    height: 10px;
    background: #fff;
    z-index: 1;
  &:after{content: "";
    position: absolute;
    left:0px;
    width: 15px;
    height: 15px;
    bottom: 2px;
    background: #fff;
    border-radius: 0px 29px 0px 0px;}
  &:before{content: "";
    position: absolute;
    right:0px;
    width: 15px;
    height: 15px;
    bottom: 2px;
    background: #fff;
    border-radius: 29px 0px 0px 0px;}
  }

ion-footer{background-color:#fff;}
ion-tab-bar{
  background: #fff;
  border-top-color: #fff; 
  ion-tab-button{
  --background: #fff;
    background: #fff; 
    svg path{
      fill: #452092;
    }
    &.tab-selected{
      svg path{fill: #21D19F;}
    }
    &:hover{
      svg path{fill: #21D19F;}
    }
  }   
}

.home_tab_icon {
  svg{
    width: 34px;
    height: 31px;
  }
}

.dropbox_tab_icon {
  svg{
    width: 35px;
    height: 34px;
  }
}

.report_tab_icon {
  svg{
    width: 30px;
    height: 34px;
  }
}

.setting_tab_icon {
  svg{
    width: 32px;
    height: 34px;
  }
}

.powerBy{    
  text-align: center;
  margin-top:0px;
  position: relative;
  z-index: 99;
  span{font-size:8px; font-weight:bold; color:#62BCCC; display: inline-block; line-height:17px;}
  svg{float:right; margin-left:3px;}
}

.form-control{
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 14px;
  margin-bottom: 17px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0px 1px 6px rgb(64 121 140 / 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #666;
  font-weight: bold;
  line-height: 1.4;
  height: 51px;
  /*--placeholder-opacity: 1;*/
}

.form-control input{padding:12px 15px 11px 23px !important;}
.form-control textarea{padding:13px 20px 12px 20px !important;}

::-webkit-input-placeholder{ /* Edge */
  color: #DFDFDF !important; opacity: 1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #DFDFDF !important; opacity: 1 !important;
}
::placeholder {
  color: #DFDFDF !important; opacity: 1 !important;
}

.selectFiled{padding:12px 20px !important; display: flex;}
::-webkit-select-placeholder{ /* Edge */
  color: #DFDFDF !important; opacity: 1 !important;
}
:-ms-select-placeholder { /* Internet Explorer 10-11 */
  color: #DFDFDF !important; opacity: 1 !important;
}

.submitBtn{
  --border-radius: 14px;
  --background: #62BCCC;
  --color: #fff;
  --box-shadow: 0 1px 6px rgb(64 121 140 / 0.25);
  min-width: 167px;
  text-transform: capitalize;
  font-size: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  opacity: 1;
  height: 51px;
  &:hover{--background: #40798C;}
}  

.cusBorderBtn{
  min-width:167px; margin:0; text-transform: capitalize; font-size: 20px; height: 51px; 
  --border-radius: 14px;
  --color: #452092;
  --border-color: rgb(33 209 159 / 0.30);
  --border-width: 2px;
  font-weight: bold;
  &:hover{
    --border-color: rgb(33 209 159 / 0.60);
  }
}

.graphicBlock{ 
  img{max-height: 255px;}
}

.graphicLength{
  img{max-height: 350px;}
}

ion-header ion-toolbar{--background: #f8f7f9;}
.header-md::after{background: none; height: auto; bottom: 0;}

.header-action-icon{
  padding: 10px 15px 10px 15px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;
  z-index: 10;
}
.header-action-icon ion-icon{font-size: 30px; color: #452092;}

.user-links{    
  padding: 0;
  text-decoration: none;
  color: #D3CDD7;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
  &:hover{color: #A19BA5;}
}  

.trackNumFiled{ position: relative;
  .tracking{
      position: absolute;
      top: 0px;
      right: 0px;
      color: rgb(33 209 159 / 0.5);
      z-index: 9;
      font-size: 37px;
      border-left: 1.5px solid rgba(33, 209, 159, 0.5);
      padding: 3px 24px 0px 20px;
      height: 43px;
      margin-top: 4px;
        svg{width:32px;}
      }
    ion-input{padding-right:77px !important;}
}

ion-header{background-color: #f8f7f9;  padding-top:32px; position: relative;
  ion-segment{background-color:transparent; padding:5px 4px 2px 4px;  z-index: 10;
    position: relative;
    ion-row{width:100%;}
  }

ion-segment-button{
  height: 51px;
  font-size: 20px;
  font-weight: bold;
  color: #452092;
  background: #f9f9fa;
  border: 2px solid rgb(33 209 159 / 0.20);
  padding: 0;
  border-radius: 14px;
  min-width: 100%;
  text-transform: capitalize;
  overflow: hidden;
  --indicator-height: 0px;
  --indicator-color:rgba(64, 121, 140, 0.78);
    &:hover{
      background: rgb(104 148 163 / 0.20);
    }
    &.segment-button-checked{ 
      color: #F9F8FA !important;
      background-color: rgb(64 121 140 / 0.78);
      border-color: rgb(33 209 159 / 0.78); 
    }        
  } 
/*ion-segment-button::before{border:none;}*/
}


.headerSelectFiled{padding:2px 4px 4px 4px;
  .selectFiled{  
    font-size:20px;
    color: #666;
    height: 35px;
    padding: 5px 10px 5px 15px !important; 
  }
}

ion-select::part(icon){color:#fff; opacity:1; 
  width:19px;
  height:19px;
  &:before{content: ""; 
    background-image: url(../assets/images/chevron_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 19px;
    height: 19px;
    display: inline-block;
    z-index: 9;}
}

.shadowBox{
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 18px;
  --background: #fff;
  --border-color: #fff !important;
  }

.listAarrow{
  width: 22px;
  position: absolute;
  top: 14px;
  bottom: 14px;
  right: 0;
  background: #D3CDD7;
  border-radius: 0px 5px 5px 0px;
  z-index: 1;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  overflow:hidden;
  svg{
    width: 28px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: -3px;
  } 
  &:hover{background: #97919B; }
}

.listingBlock{
  margin-bottom: 15px;
  position: relative;
  padding-right: 22px;
  overflow: inherit;

  ion-item{    
    z-index: 9 !important;
    position: relative;
    --padding-start: 0;}

  ion-label{margin: 8px 0;
    line-height: 17px;}

    h2{font-family: SegoeUI;
      font-size: 20px;
      font-weight: 600;
      color: #000;}

    p{font-family: SegoeUI;
      font-weight: 400;
      font-size: 14px;
      color: #CECECE;
      line-height: 19px;
      &.ExDate{color: #000;}
    }

    span{font-family:SegoeUI; font-weight:600;}
    span.inTransit{color:#CB9A46;}
    span.exception{color:#cc612a;}
    span.delivered{color:#6ae247;}

    ion-avatar{
      width: 121px;
      height: auto;
      margin: 0 5px 0 0;
      padding: 8px 10px 8px 15px;
      text-align: center; 
      border-radius: 0; 
    img{border-radius: 0px;
      max-width: 90px;
      max-height: 102px;}
    }
  &:last-child{margin-bottom:0px;}
} 

.listingBlock ion-item-options{border:none;}
.listingBlock.item-sliding-active-slide{padding-right:0px;}
.listingBlock.item-sliding-active-slide > .listAarrow{
display:none;}


.back_arrow{ 
  svg{width:33px; height:inherit; margin-top:4px;
    path{fill:#452092;}
  }
}

.share_icon{ 
  svg{width:40px; height:inherit;
    path{fill:#452092;}
    }
}

.listDeatilB{ 
  position: absolute;
  padding: 15px 12px 0px 12px;
  top: 2px;
  bottom: 10px;
  right: 12px;
  left: 12px; 

    ion-avatar{
      width: 100%;
      text-align: center;
      height: auto;
      margin: 5px 0 8px 0;
    
      img{
        border-radius: 0px;
        max-width: 238px;
        max-height: 232px;
      } 
    }

    .listDContent{
    line-height: 30px;

      h2{margin: 0;
        font-family: SegoeUI;
        font-size: 26px;
        font-weight: 600;
        color: #000;}

      p{color: #CECECE;
        font-family: SegoeUI;
        font-size: 18px;
        margin: 0;}

      p.ExDate{color:#000;}
      span{font-family: SegoeUI; font-weight: 600;}

      span.inTransit{color:#CB9A46;}
      span.exception{color:#55DE2D;}
      span.delivered{color:#6ae247;} 
    } 
  }

  .activityBtn{
    background-color: #78659F;
    border-radius: 18px;
    box-shadow: 0px -3px 6px rgb(0 0 0 / 0.16);
    padding: 10px 20px;
    height: 55px;
    display: block;
    width: 100%;
    font-family: SegoeUI;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    outline: none;
    border: none;
    span{display:inline-block; line-height: 19px;}
    img{    
      float: right;
      width: 34px;
      margin-left: -2px;
    }  
    &:hover{ background-color: #452092;} 
  }

  .partnerLogo{
    position: absolute;
    bottom: 80px;
    left: 12px;
    right: 12px;
    ion-col{padding:0px 5px;}
    img{max-width: 121px;}
    img.LDAmzon_icon{
      top: 5px;
      position: relative;
      max-width: 130px;
    }
  }


  .MapBlock{ padding:0 0 56px 0; 
    iframe{
      width: 100%;
      height: 100%;
      border-radius: 20px;}
    .productActivityS{position: absolute; bottom:0; left:0px; right:0px;}
  }

  .productActivityS{
    width: 100%;
    background-color: #fff;
    border: 1px solid #eae9ea;
    border-radius: 18px;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16);
    padding: 10px 20px;
    height: 243px;
    overflow: hidden;
    outline: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    a{    
      font-size: 22px;
      color: #452092;
      text-decoration: none;
      display: inline-block;
      line-height: 24px;
      font-family: SegoeUI;
      font-weight: 600;
      img{    
        float: right;
        transition: all 1s ease-in-out;
        width: 34px;
        margin: 2px 0 0 -2px;
      }
    }  
  }

  .productActivityS.toggleactive{
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 52px;     
    overflow:hidden;
    z-index: 99;
    a{line-height:30px;
      img{
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg); 
      } 
    }       
  }
  
  .activityListing{ 
    margin-top: 8px;
    max-height: 208px;
    overflow: auto;
    --background-color: transparent;

    ul{padding:0px;margin:0px;
      li{list-style: none; position: relative; padding-left:60px;
        &:last-child{
          .ion-avatar{
            &:after{display:none;}
          } 
        }
      }
    }

    .ion-avatar{    
        width: 40px;
        height: 40px;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -24px;
        z-index: 99;
        text-align: center;

      &:after{    content: "";
        width: 1px;
        height: 52px;
        background-color: #000;
        bottom: -45px;
        left: 50%;
        position: absolute;
        z-index: 9;
        margin-left: -1px;}

      &.OFD_img{ background-color: #21d19f;
        &:after{background-color: #21d19f;}
        img{     
          margin: 9px 0 0 0;}  
      }

      &.LFF_img{ background-color: #c7bcde;
        &:after{background-color: #c7bcde;} 
        img{     
          margin: 11px 0 0 0;} 
      }

      &.SE_img{ background-color: #ff8a8a;
        &:after{background-color: #ff8a8a;}
        img{     
          margin: 10px 0 0 0;}  
      }

      &.DFL_img{ background-color: #c7bcde;
        &:after{background-color: #c7bcde; display:none;}
        img{    
          max-width: 27px;
          margin: 10px 0 0 0;}  
      }
    }
     
    .ion-label{
        margin: 0px 0 12px 0;
        line-height: 19px;}
    h2{
      font-size: 14px;
      color: #000;
      margin: 0 0 2px 0;
      font-family: SegoeUI;
      font-weight: 600;}
    p{    
      font-size: 14px;
      color: #CFCFCF;
      margin: 0;
      font-family: SegoeUI;
      font-weight: 400;
    &.BarCode{font-size: 12px;}
    }
    
  }
    

  .logout_icon{ 
    svg{vertical-align: middle;}
  }

  .profile-area{
    width: 177px;
    height: 177px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 100%; 
    overflow: hidden;
    img{max-width:177px; max-height:177px;}
    .dummy_img{margin-top:24px;}
  }

  .profileD {margin-bottom: 12px;
    .main-heading{
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 5px;
      font-weight: bold;
    }
    a.user-links{
      font-size: 20px;
      padding: 0;
      font-weight: bold;
    }
  } 

  .WShadowBtn{
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    color: #d2d1d1;
    background-color: #fff;
    border: 1px solid #eae9ea;
    border-radius: 14px;
    box-shadow: 0px 1px 6px rgba(64, 121, 140, 0.25);
    font-weight: bold;
    padding: 6px 19px 6px 23px;
    height: 51px;
    outline: none;
    position: relative;
    .left-arrow{   
      transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      width: 18px;
      float: right;
      position: absolute;
      right: 19px;
      top: 19px;} 
      &:hover{ background-color: #40798C; color:#DFDFDF;}
  }

  .user-info-buttons{
    ion-row{margin:0 -10px;}
    ion-col{padding:0 10px;}
  }


  .RLogoSec{
    ion-col{padding:0px;}
  }

  .RLogoBlock{width: 142px;
    height: 154px;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto 23px auto;

    a{display: block;
      width: 142px;
      height: 154px;} 

    img{   
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: relative;}
  }

  #amazon_logo{ 
    img{ max-width: 100px;}
  }

  #walmart_logo{ 
    img{width: 140px;}
  }

  #wyfair_logo{ 
    img{ max-width: 108px;}
  }

  #overstock_logo{ 
    img{ max-width: 90px;}
  }

  #target_logo{ 
    img{ max-width: 126px;}
  }

  #Etsy_logo{background-color: #e26700;
    img{max-width: 120px;}
  }


  .retailAcUserPage{
    .retailUserLogo{
      margin-top: 60px;
      img{max-width:270px;}
    } 
  }

  .graphicBlock2{
    img{max-height: 262px;}
  }

  .GraphicInfo{color: #40798C;
    font-size: 18px;}


  .FALIcon{ 
    a{
      svg path{fill:#76706B;} 
      &:hover{ 
        svg path{fill:#333;}
      } 
    }
  }

  .notifiBlock{
    display: block;
    width: auto;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0px 1px 6px rgba(64, 121, 140, 0.25);
    padding: 8px 99px 8px 15px;
    height: 51px;
    outline: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
      
    label{
      font-size: 18px;
      font-weight: 600;
      color: #DFDFDF;
      line-height: 35px;
    }

    ion-toggle{
      position: absolute;
      width: 87px;
      height: 36px;
      top: 7px;
      right: 7px;
      padding: 0;
      border-radius: 30px;
      --background: #E8E8E8; 
    }  
  } 

  .graphicBlock3{
    img{max-height: 312px;}
  } 

  .PASIcon{ 
    a{
      svg path{fill:#62BCCC;} 
      &:hover{ 
        svg path{fill:#40798C;}
      } 
    } 
  }
  
  .haveQuestionPage{
    .graphicBlock{
      img{height:214px;}
    }
  }

  .MSMlogo {
    img{max-width: 258px;}
  }
  
  .discriptionCon{margin-top: 5px;
    p{    font-size: 18px;
      color: #40798C;
      text-align: left;
      margin: 0;
      font-family: SegoeUI;
      font-weight: 400;}
  }
  
  .socialIcon{
    ul{padding: 0px;
      text-align: center;
      margin: 25px 0 0 0;
      li{list-style: none;
        display: inline-block;
        margin: 0 22px;
        a{color: #000;
          font-size: 52px;}
      }
    }
  }

.logoutPage{
  .logoutBtn {
    ion-row{margin:0 -10px;}
    ion-col{padding:0 10px;}
  }
}


.PkgDetails{
  padding-top: 60px;
  text-align: center;
}

.Pkgshiplogo{
  img{max-width: 240px;}
}

.PkgshipInfo{
  h3{font-weight: bold;
    font-size: 20px;}

  a{font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #62BCCC;}
}



app-social-sharing img{max-width:17px;}

.activityBtnS{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 32px;
  z-index: 99;
}

.Canvas_area{min-height:200px; line-height: 200px;}
.totalPkg_info{color:#452092; font-weight:700; font-size:22px; line-height:32px;
  span{float:right; font-size:30px;}
}


.filterBtn{
  font-size: 20px;
  color: #DFDFDF;
  height: 35px;
  padding: 5px 10px 5px 15px !important;
  margin: 0px;
  --background: #fff; 
  --background-activated:#fff;
  --background-focused:#fff;
  --background-hover:#fff;
  ion-icon{
    font-size: 21px;
    fill: #DFDFDF;
    margin-right: 5px;
  }
  ion-label{
    font-size: 20px;
    color: #DFDFDF !important;
  } 
}

.filterAcBtn {
  ion-row{padding:0 5px;}
  ion-col{padding:10px 5px;}
  ion-button{
    width: 100%;
    min-width: auto;
    height: 48px;
    font-size: 19px}
}

.sideMenu{
  ion-title{
    color: #452092;
    font-weight: 600;
    font-size: 20px;
    font-family: SegoeUI;
  }

  ion-content{
    background-color: #fff;
    --background-color: #fff;}

  ion-checkbox{
    --border-color:#452092;
    --border-color-checked:#452092;
    --background-checked:#452092;
  }

  ion-list{
    ion-item{
      font-family: SegoeUI;
      font-weight: 400; 
      ion-label{
        font-family: SegoeUI !important;
        font-weight: 400; 
      }
    }
  }
}

.listingBlock{
  ion-item-option{
    width: 40px;
    .itemOptionB{
      background: #452092;
      color: #fff;
      border-radius: 30px;
      width: 34px;
      height: 34px;
      text-align: center;
      padding: 5px;
      font-size: 20px;
      line-height: 30px;
    }
    svg{
      width: 19px;
      height: 22px;
      path{fill:#fff;}
    } 
  }
}


@media only screen and (min-height: 738px) { 
  .statusBar{
    height:40px;
  }
  .pageSdwStart{
    top: 40px;
  }
  ion-header{padding-top:40px;}
}

@media only screen and (max-height: 737px) { 
  .homePageCs{
    .head{margin-top:40px;}
    form{margin-top:65px;}
  }

  .listDeatilB ion-avatar img{
    max-width: 208px;
    max-height: 202px
  }

  .profile-area{width:165px; height:165px;
    img{max-width: 165px; max-height:165px;}
    .dummy_img{width: 73px;}
  }

  .RLogoBlock{margin-bottom:15px;}

  .retailAcUserPage{
    .retailUserLogo{margin-top:50px;}
  }

  .linkEmailAcPage{
    &.main-container{padding-top:0px;}
    .graphicBlock{margin-top:10px;}
    form{margin-top:10px;}
    .btnBlock{margin-top:25px;}
  }

  .notificationPage{padding-top:0px;
    .notifyPage{margin-top:25px !important;}
    .btnBlock{margin-top:25px !important;}
  }

  .cusHomePage{padding-top:0px;
    .notifyPage{margin-top:25px !important;}
    .btnBlock{margin-top:25px !important;}
  }

  .abouUsPage{padding-top:0px;
    .MSMlogo img{max-width:228px;}
    .socialIcon{margin-top:30px;
      ul{margin-top:20px;}
    } 
  }

  .loginPage{
    .graphicBlock{
      img{max-height: 234px;}
    }
  }

  .registerPage{
    .graphicBlock{
      img{max-height: 234px;}
    }
  }

  .forgorPassPage{
    .graphicBlock{
      img{max-height: 234px;}
    }
    form{margin-top:25px;}
  }

  .chooseCarrierP{
    .btnBlock{margin-top:20px !important;}
  }


}

@media only screen and (max-height: 668px) { 
  .homePageCs{
    .head{margin-top:25px;}
    .graphicBlock{margin-top:50px;}
    form{margin-top:45px;}
    .btnBlock{margin-top:25px;}
  }

  .listDeatilB ion-avatar img{
    max-width: 178px;
    max-height: 172px;
  }

  .listDeatilB .listDContent{
    line-height: 28px;
  }

  .partnerLogo{bottom: 75px;
     img{max-width:115px;}
     img.LDAmzon_icon{max-width:124px;}
  }

  .profile-area{width: 155px; height: 155px;
    .dummy_img{width:68px;}
  } 
  .profileD{
    .main-heading{font-size:19px;}
    a.user-links{font-size:19px;}
  }
  .WShadowBtn{font-size:19px; height:48px;
    &.mb17{margin-bottom:15px !important;}
    .left-arrow{width: 17px; top:18px}
  }

  .RLogoBlock{width: 132px; height: 144px;
    a{width: 132px; height: 144px;}
  } 

  .retailAcPage{padding-top:0px;}
  .RLogoSec{margin-top:20px;}

  .retailAcUserPage{
    .retailUserLogo{margin-top:40px;}
    form{margin-top:70px;}
  }

  .OopsFailP{
    .main-heading{margin-top: 25px;}
  }

  .successPage{
    .main-heading{margin-top: 25px;}
    .PASIcon{margin-top:30px;}
  }

  .haveQuestionPage{padding-top:0px;}

  .logoutPage{
    .main-heading{margin-top:40px;}
    .logoutBtn{margin-top:40px;}
  }

  .pkgAddSuccessP{
    .graphicBlock3{margin-top:50px;}
    .PASIcon{margin-top:60px;}
  }

  .loginPage{
    .main-container{padding-top:0px;}
    .user-links{font-size:18px; margin-bottom:8px;}
  }

  .registerPage{
    .main-container{padding-top:0px;} 
  }

  .forgorPassPage{padding-top:0px;
    .graphicBlock{margin-top: 20px !important;}
    form{margin-top:20px;}
    .btnBlock{margin-top:20px !important;}
  }

  .emailSentPage {
    .PASIcon{margin-top: 60px;}
  }

  .accountCreatPage{
    .main-heading{margin-top:30px;}
    .GraphicInfo{margin-top:30px;}
  }

  .chooseCarrierP{
    .btnBlock{margin-top:20px !important;}
  }

  .chooseCarrierP{padding-top:0px;}

}

@media only screen and (max-height: 569px) { 
  .homePageCs{
    .head{margin-top:0px;}
    .main-heading{font-size:19px; margin-top:12px;} 
    .graphicBlock{margin-top:30px;}
    form{margin-top: 25px;}
    .btnBlock{margin-top:20px;}
  }
  
  .trackNumFiled .tracking{height: 38px; padding-top:0px;}

  .form-control{height: 46px; font-size:18px; margin-bottom:15px;}
  .submitBtn{min-width:162px; height:46px; font-size:18px;}
  .cusBorderBtn{min-width:162px; height:46px; font-size:18px;}

  .home_tab_icon {
    svg{
      width: 31px;
      height: 29px;
    }
  }
  
  .dropbox_tab_icon {
    svg{
      width: 32px;
      height: 31px;
    }
  }
  
  .report_tab_icon {
    svg{
      width: 27px;
      height: 31px
    }
  }
  
  .setting_tab_icon {
    svg{
      width: 29px;
      height: 31px;
    }
  }

  .powerBy{     
    margin-top:0px;}


  ion-header ion-segment{padding-bottom:0px;}
  ion-header ion-segment-button{font-size:19px; height:46px;}
  .headerSelectFiled .selectFiled{font-size:18px; height:32px;}

  ion-select::part(icon){width:15px; height:19px;
    &:before{width:15px; height:15px;}
  } 

  .listingBlock ion-avatar{width:105px; padding:8px 10px 8px 10px;}
  .listingBlock ion-avatar img{max-width:80px;}
  .listingBlock h2{font-size: 18px;} 

  .back_arrow svg{width:29px;}
  .share_icon svg{width:35px;}

  .listDeatilB{
    ion-avatar{margin:0px 0 5px 0;
      img{max-width: 138px; max-height: 132px;}
    }
    .listDContent{line-height:25px;
      h2{font-size:21px;}
      p{font-size:15px;}
    }
  }   

  .partnerLogo{bottom:65px;
    img{max-width: 95px;}
    img.LDAmzon_icon{max-width: 114px;}
  } 

  .activityBtn{height:50px; font-size:20px;} 

  .productActivityS a {font-size: 19px;}

  .activityListing{margin-top:5px;
    h2{font-size: 13px;}
    p{font-size: 13px;}
    ul li{padding-left: 55px;}
  }

  .logout_icon svg{width:26px;}
  .profile-area{ width: 145px; height: 145px; 
    .dummy_img{ width: 65px; margin-top: 21px;}
    img{max-width: 145px; max-height: 145px; }
  }
  .profileD{
    .main-heading{font-size:18px;}
    a.user-links{font-size:18px;}
  }
  .WShadowBtn{font-size:18px; height:45px; padding:6px 18px 6px 18px;  
    .left-arrow{width: 15px;  top: 17px;}
    &.info_circle_icon img, &.question_circle_icon img{width: 32px;}
  }

  .main-heading{font-size:19px;}
  
  .RLogoBlock{width: 117px; height: 129px; margin-bottom:12px;
    a{width: 117px; height: 129px;}
  } 

  #amazon_logo img{max-width: 90px;}
  #wyfair_logo img{max-width: 92px;}
  #overstock_logo img { max-width: 80px;}
  #target_logo img {max-width: 120px;}
  #Etsy_logo img { max-width: 110px; }

  .retailAcUserPage{
    .retailUserLogo{margin-top:30px;
      img{max-width: 230px;}
    }
    form{margin-top: 45px;}
    .btnBlock {margin-top: 35px;}
  }

  .OopsFailP{
    .main-heading{margin-top:15px;}
    .graphicBlock2 img{max-height:220px;}
    .GraphicInfo{font-size:16px;}
    .FALIcon{margin-top:20px !important;
      svg{width:70px; height: inherit;}
    }
  }

  .notificationPage{ 
    .notifiBlock{height:46px; padding-right:90px;
      label{font-size:17px; line-height:30px;}
      ion-toggle{width:76px;  height:32px;}
    } 
  }

  .successPage{
    .main-heading{margin-top:15px;} 
    .graphicBlock3 img{max-height:262px;} 
    .PASIcon{margin-top:20px !important;
      svg{width:70px; height: inherit;}
    }
  } 

  .cusHomePage{ 
    .notifiBlock{height:46px; padding-right:90px;
      label{font-size:17px; line-height:30px;}
      ion-toggle{width:76px;  height:32px;}
    } 
  }

  .abouUsPage{ 
    .MSMlogo img{max-width:198px;}
    .discriptionCon p{font-size:16px;}
    .socialIcon{ 
      li a{font-size:40px;}
    } 
  }

  .logoutPage{
    .main-heading{margin-top:20px;}
    .graphicBlock3 img{max-height: 252px;}
    .logoutBtn{margin-top:30px;
      ion-button{min-width:inherit; width:100%;}
    } 
  }

  .pkgAddSuccessP{
    .main-heading{margin-top: 30px;}
    .graphicBlock3{margin-top:40px;}
    .PASIcon{margin-top:40px;}
  }
  
  .PASIcon{
    svg{width:70px; height: inherit;}
  }

  .PkgshipInfoPage{
    .PkgDetails{padding-top:40px;
      .Pkgshiplogo img{max-width: 180px;}
    }
    .PkgshipInfo h3{font-size: 18px; margin-bottom:8px;}
    .PkgshipInfo a{font-size: 22px;}
  }
  
  .GraphicInfo { 
    font-size: 15px;
  }

  .forgorPassPage{
    form{margin-top:0px;}
  }


  .loginSuccessP{
    .graphicBlock3{
      margin-top:30px;
    }
  }

  .emailSentPage {
    .graphicBlock{margin-top:60px;}
    .PASIcon{margin-top: 40px !important;}
  }
  
  .accountCreatPage{
    .main-heading{margin-top:20px;}
    .graphicBlock{margin-top:35px;}
    .GraphicInfo{margin-top:22px;}
  }

  .totalPkg_info{
    font-size: 19px; line-height:24px;
    span{ font-size: 25px;}
  }

  
  .filterBtn{
    font-size: 18px; 
    height: 32px; 
    ion-icon{
      font-size: 18px; 
    }
    ion-label{
      font-size: 18px; 
    } 
  }

  .sideMenu{
    ion-title{/*font-size:19px;*/}
  }

  .filterAcBtn ion-button {
    height: 42px;
    font-size: 17px;
  } 

}