<ion-content class="lightGray">
  <div class="header-action-icon text-right">
    <ion-icon name="log-out-outline"></ion-icon>
   </div>

  <div class="main-container plr15 pb30">
    <div class="profile-section text-center">
      <div class="profile-area">
        <ion-icon name="person"></ion-icon>
      </div>
      <div class="profileD text-center">
        <h3 class="main-heading">Welcome</h3>
        <a href="#" class="user-links">USER EMAIL HERE</a>
      </div>

      <div class="user-info-buttons">
        <ion-button  class="WShadowBtn" expand="block" >Linked Retail
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button> 
      </div>
   </div>
 

  
</div>
</ion-content>

 