<ion-content class="lightGray">
  
  <div class="header-action-icon text-left">
    <ion-icon class=" " side="start" name="arrow-undo" (click)="goBack()"></ion-icon>   
  </div> 

  <div class="main-container pt12 plr12 pb30">
    <div class="listDeatilB shadowBox"> 
          <div class="PkgDetails">
              <div class="Pkgshiplogo">
                <img src="../../../assets/images/FedEx_Express_logo.png">
              </div>
              <br><br><br>
              <div class="PkgshipInfo">
                <h3>Website</h3>
                <a href="#">www.fedex.com</a>
              </div>
              <br><br>
              <div class="PkgshipInfo">
                <h3>Customer Support</h3>
                <a href="#">1-800-123-4567</a>
              </div>
          </div>
    </div>
</div>
</ion-content>
