<ion-content class="lightGray">
  
  <div class="header-action-icon text-left">
    <ion-icon side="start" name="arrow-undo"></ion-icon>  
  </div>

  <div class="main-container plr15 pb30">
    <div class="text-center">
      <h3 class="main-heading mb0">Customize your Homepage</h3>
      <p class="main-title">Choose a page you want to display as the home screen</p>
    </div>
 
    <div class="notifyPage mt20">
       <div class="notifiBlock mb15">
          <label>Track Packages</label>
          <ion-toggle color="success"></ion-toggle>
       </div>
       <div class="notifiBlock mb15">
        <label>Active Packages</label>
        <ion-toggle color="success"></ion-toggle>
     </div>
     <div class="notifiBlock mb15">
      <label>Packages History</label>
      <ion-toggle color="success"></ion-toggle>
   </div>
   <div class="notifiBlock mb15">
    <label>Spending Summary</label>
    <ion-toggle color="success"></ion-toggle>
 </div>
 <div class="notifiBlock mb15">
  <label>Packages Details</label>
  <ion-toggle color="success"></ion-toggle>
</div>
<div class="notifiBlock mb15">
  <label>Scan a Package</label>
  <ion-toggle color="success"></ion-toggle>
</div>

<div class="btnBlock mt30">
  <ion-button expand="block" fill="solid" class="submitBtn">Save</ion-button>
</div>
    </div> 
  </div>
</ion-content>
