<ion-content class="lightGray">
  
  <div class="header-action-icon text-left">
    <ion-icon side="start" name="arrow-undo" (click)="goBack()"></ion-icon>  
  </div>

  <div class="main-container plr15 pb30">
    <div>
      <h3 class="text-center main-heading">About Us</h3>
    </div>

    <div class="MSMlogo mt15 text-center">
      <img src="../assets/images/MSMlogo.png">
    </div> 

    <div class="discriptionCon text-center">
      <p>ShipMatrix was founded in 2000 by Satish Jindal, a leader in transportation. Since it's founding, ShipMatrix has ha a significant impact on the transportation and logistics inductries. We help shippers unleash the power of their shipping data to eliminate wasteful spending. facilitate carrier negotiations. and imrove the customer ecperience. Hundreds of medium and large corporations use ShipMatrix services and applications to improve their</p>
    </div>

    <div class="btnBlock mt15 text-center">
      <ion-button type="submit" expand="block" fill="solid" class="submitBtn">Learn More</ion-button>
    </div> 

    <div class="socialIcon mt40">
      <h3 class="text-center main-heading">Share EasyTrack</h3>

      <ul>
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
      </ul>
    </div>
</div>
</ion-content><ion-footer class="ion-no-border"><ion-toolbar><app-footer></app-footer></ion-toolbar></ion-footer>
