<ion-header [translucent]="true">

  
  <ion-segment
  color="tertiary" 
  scrollable="true"
  mode="ios"
  [(ngModel)]="segmentModel" 
  (ionChange)="segmentChanged()">
  <ion-row> 
    <ion-col size="6">
    <ion-segment-button value="active" >
      <ion-label>Active</ion-label>
    </ion-segment-button>
  </ion-col>
  <ion-col size="6">
    <ion-segment-button value="history">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-col>
  </ion-row>

  </ion-segment>
<div class="headerSelectFiled">
  <ion-row>
    <ion-col size="6">
      <ion-select placeholder="Filter by" (ionChange)="filterBy()" class="form-control selectFiled mb0">
        <ion-select-option value="Retailer">Retailer</ion-select-option>
        <ion-select-option value="Status">Status</ion-select-option> 
        <ion-select-option value="Category">Category</ion-select-option> 
      </ion-select>
    </ion-col>
    <ion-col size="6">
      <ion-select placeholder="Sort by" (ionChange)="sortedBy()" class="form-control selectFiled mb0">
        <ion-select-option value="All">All Time</ion-select-option>
        <ion-select-option value="Today">Today</ion-select-option> 
        <ion-select-option value="Yesterday">Yesterday</ion-select-option>
        <ion-select-option value="ThisWeek">This Week</ion-select-option> 
        <ion-select-option value="LastWeek">Last Week</ion-select-option> 
      </ion-select>
    </ion-col>
  </ion-row>
</div>
</ion-header>


<ion-content   class="lightGray">
<div class="main-container pt12 plr12 pb30">
<img style="align-items: center;width: 180px;
margin-left: auto;
margin-right: auto;
display: block;" *ngIf="activeItems.length === 0 " src="../../../assets/images/no-record-found.png">

 <div *ngFor="let item of activeItems" (click)="showDetail(item.Key)" class="listingBlock">
  <ion-item class="shadowBox">
    <ion-avatar slot="start">
      <img [src]="item.ProductUrl">
    </ion-avatar>
    <ion-label>
      <h2>{{item.ProductName}} </h2>
      <p class="status">Status: <span class="inTransit">{{item.Status}}</span></p>
      <br>
      <p class="Tracking">Tracking #: <span>{{item.TrackingNo}} </span></p>
      <p class="ExDate">Expected: {{item.ExpectedDate}} </p> 
    </ion-label>
  </ion-item> 
  <a href="#" class="listAarrow" ><ion-icon name="chevron-forward-outline"></ion-icon></a> 
</div>

</div>
</ion-content>