<ion-header [translucent]="true">

  
  <ion-segment 
  scrollable="true"
  value="active"
  mode="md"
  [(ngModel)]="segmentModel" 
  (ionChange)="segmentChanged()">
  <ion-row> 
    <ion-col size="6">
    <ion-segment-button value="active" >
      <ion-label>Active</ion-label>
    </ion-segment-button>
  </ion-col>
  <ion-col size="6">
    <ion-segment-button value="history">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-col>
  </ion-row>

  </ion-segment>
<div class="headerSelectFiled">
  <ion-row>
    <ion-col size="6">
      <ion-select placeholder="Filter by"  [value]="filtBy"  [(ngModel)]="filtBy"  (ionChange)="filterBy()" class="form-control selectFiled mb0">
        <ion-select-option value="Retailer">Retailer</ion-select-option>
        <ion-select-option value="Status">Status</ion-select-option> 
        <ion-select-option value="Category">Category</ion-select-option> 
      </ion-select>
    </ion-col>
    <ion-col size="6">
      <ion-select placeholder="Sort by" [value]="daySelect"  [(ngModel)]="daySelect"  (ionChange)="sortedBy()" class="form-control selectFiled mb0">
        <ion-select-option value="All">All Time</ion-select-option>
        <ion-select-option value="Today">Today</ion-select-option> 
        <ion-select-option value="Yesterday">Yesterday</ion-select-option>
        <ion-select-option value="ThisWeek">This Week</ion-select-option> 
        <ion-select-option value="LastWeek">Last Week</ion-select-option> 
      </ion-select>
    </ion-col>
  </ion-row>
</div>
</ion-header>


<ion-content class="lightGray">
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."> 
    </ion-refresher-content>
  </ion-refresher> 
<div class="main-container pt12 plr12 pb30">
<img style="align-items: center;width: 180px; margin-left: auto; margin-right: auto;display: block;" 
*ngIf="activeItems.length === 0" src="../../../assets/images/no-record-found.png">
<ng-container *ngIf="activeItems.length > 0">

      <ion-item-sliding *ngFor="let item of activeItems"  class="listingBlock"> 
        <ion-item (click)="showDetail(item.Key)" class="shadowBox">
          <ion-avatar slot="start">
            <img [src]="item.ProductUrl">
          </ion-avatar>
          <ion-label>
            <h2>{{item.ProductName}} </h2>
            <p class="status">Status: <span [ngClass]="{
              'delivered': item?.Status.toLowerCase().includes('deliver'),
              'exception': item?.Status.toLowerCase().includes('exception') ,
              'inTransit' : item?.Status.toLowerCase().includes('transit') 
          }" >{{item.Status}}</span></p>
            <br>
            <p class="Tracking">Tracking #: <span>{{item.TrackingNo}} </span></p>
            <p class="ExDate">Expected: {{item.ExpectedDate}} </p> 
          </ion-label>
        </ion-item> 

      
        <a href="javascript:void(0)" (click)="showDetail(item.Key)" class="listAarrow" ><ion-icon name="chevron-forward-outline"></ion-icon></a> 
        <ion-item-options side="end">
          <ion-item-option color="light" *ngIf="segmentModel === 'active'" (click)="archive(item.Key)"><ion-icon title="Archive" name="archive"></ion-icon></ion-item-option>
          <!-- <ion-item-option color="tertiary" *ngIf="segmentModel === 'active'" (click)="MarkasDelievered(item.Key)"><ion-icon title="Mark Delivered" name="checkmark-circle-outline"></ion-icon></ion-item-option> -->
          <ion-item-option color="light" *ngIf="segmentModel === 'active'" (click)="share()" ><app-social-sharing [Key]="item"></app-social-sharing></ion-item-option>
          <!-- <ion-item-option color="tertiary" *ngIf="segmentModel === 'active'" (click)="editPackages(item.Key)"><ion-icon  title="Edit"  name="create"></ion-icon></ion-item-option> -->
          <ion-item-option color="light" (click)="delete(item.Key)"><ion-icon title="Remove"  name="trash"></ion-icon></ion-item-option>
          <ion-item-option color="light" *ngIf="segmentModel === 'active'" (click)="locate(item.Key)"><ion-icon title="Locate" name="locate"></ion-icon></ion-item-option>
          <ion-item-option color="light" *ngIf="segmentModel === 'active'" (click)="retrack(item.Key)"><ion-icon name="repeat"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


</ng-container>
</div>
 
</ion-content>