<ion-header [translucent]="true"> 
  <div class="statusBar">
    <div class="bottom-shadow3"> </div>
    <div class="bottom-shadow4"> </div>
  </div> 
  <div class="header-action-icon text-left"> 
    <div class="back_arrow fleft" (click)="goBack()"><img src="../assets/images/back-arrow.svg"></div> 
    <div class="share_icon fRight" (click)="share()"><app-social-sharing *ngIf="hasData" [Key]="item"></app-social-sharing></div> 
  </div> 
</ion-header>

<ion-content class="lightGray"> 
  <div class="main-container">
    <div class="listDeatilB shadowBox"> 
        <ion-avatar class="listDImg">
          <img src="../../../assets/images/default-product-image.png">
        </ion-avatar>
        <div class="listDContent text-center">
          <h2>Headphone</h2>
          <p class="status">Status: <span [ngClass]="{
            'delivered': trackingheader?.Status.toLowerCase().includes('deliver'),
            'exception': trackingheader?.Status.toLowerCase().includes('exception') ,
            'inTransit' : trackingheader?.Status.toLowerCase().includes('transit') 
        }">{{trackingheader?.Status}}</span></p> 
          <p class="Tracking">Tracking #: <span>{{trackingResult?.TrackingNo}} </span></p>
          <p class="ExDate">Expected: {{trackingheader?.DeliveredDateTime}} </p> 
        </div> 

        <div class="partnerLogo">
          <ion-row>
            <ion-col size="6" class="text-left">
              <a href="javaScript:void(0)" [routerLink]="['/pkgshipinfo2']" routerDirection="backward"><img src="../assets/images/FedEx_Express_logo.png"></a>
            </ion-col>
            <ion-col size="6" class="text-left">
              <a href="javaScript:void(0)" [routerLink]="['/pkgshipinfo']" routerDirection="backward"><img src="../assets/images/amazonLogo.png"  class="LDAmzon_icon"></a>
            </ion-col>
          </ion-row>
        </div>

        <div class="activityBtnS">
          <a href="javascript:void(0)"  class="activityBtn  text-center" (click)="locate()"><span>Activity
            <ion-icon name="chevron-up-outline"></ion-icon></span>
          </a>  
        </div>
       
    </div>
</div>
</ion-content>
<ion-footer class="ion-no-border"><ion-toolbar><app-footer></app-footer></ion-toolbar>
  <div class="bottom-shadow"> </div>
  <div class="bottom-shadow2"> </div>
</ion-footer>
