<ion-content class="lightGray">
  
  <div class="header-action-icon text-left">
    <ion-icon class=" " side="start" name="arrow-undo" (click)="goBack()"></ion-icon>  
    <ion-icon class="fRight" name="share" (click)="share()"> <app-social-sharing *ngIf="hasData" [Key]="item"></app-social-sharing></ion-icon>
  </div> 

    <div class="listDeatilB shadowBox"> 
        <ion-avatar class="listDImg">
          <img src="../../../assets/images/default-product-image.png">
        </ion-avatar>
        <div class="listDContent text-center">
          <h2>Headphone</h2>
          <p class="status">Status: <span class="inTransit">{{trackingheader?.Status}}</span></p> 
          <p class="Tracking">Tracking #: <span>{{trackingResult?.TrackingNo}} </span></p>
          <p class="ExDate">Expected: {{trackingheader?.DeliveredDateTime}} </p> 
        </div> 

        <div class="partnerLogo">
          <ion-row>
            <ion-col size="6" class="text-left">
              <a href="javaScript:void(0)" [routerLink]="['/pkgshipinfo2']" routerDirection="backward"><img src="../assets/images/FedEx_Express_logo.png"></a>
            </ion-col>
            <ion-col size="6" class="text-left">
              <a href="javaScript:void(0)" [routerLink]="['/pkgshipinfo']" routerDirection="backward"><img src="../assets/images/amazonLogo.png"></a>
            </ion-col>
          </ion-row>
        </div>

        <div class="activityBtnS">
          <a href="javascript:void(0)"  class="activityBtn  text-center" (click)="locate()"><span>Activity
            <ion-icon name="chevron-up-outline"></ion-icon></span>
          </a>  
        </div>
       
    </div>

</ion-content>
